// Font + size responsive
@media screen and (min-width: $tablet) {
	html {
		font-size: 16px;
	}
}
@media screen and (max-width: $mobile) {
	html {
		font-size: 14px;
	}
}

// Container
.container {
	padding: 0 50px;
}

// Btn
.btn {
	padding: 12px 24px;
	cursor: pointer;
	text-align: center;
	font-family: $font2;
	font-weight: bold;
	border-radius: 0.5rem;
	&-cta {
		@extend .btn;
		font-size: 18px;
		background-color: $primary;
		color: $white;
	}
	&-outline {
		@extend .btn;
		font-size: 1.125rem;
		color: $primary;
		background: transparent;
		border: 2px solid $primary;
		padding: 0.625rem 1rem;
		transition-duration: 300ms;
		&:hover {
			background: $primary;
			color: $white;
		}
	}
}
// Input
.input {
	font-size: 16px;
	color: $black;
	font-family: $font2;
	padding: 12px;
	border: 2px solid $gray2;
	border-radius: 8px;
	width: 65%;
	margin-right: 8px;
	transition-duration: 300ms;
	&:focus {
		border: 2px solid $black;
	}
}

// Base style
.nav {
	grid-area: navegation;
	width: 100%;
	position: fixed;
	// Hidde nav cover in breakpoint desktop
	&-cover {
		display: none;
	}
	// Rest of the code
	&-content {
		padding-top: 1.5rem;
		display: flex;
		justify-content: space-between;
	}
	&-logo {
		font-size: 34px;
		font-family: $font3;
		color: $primario-light;
		font-weight: bold;
	}
	&-links {
		> a {
			font-family: $font2;
			font-size: 1.125rem;
			font-weight: 500;
			color: $black;
			cursor: pointer;
			margin-right: 28px;
			opacity: 0.8;
			transition-duration: 300ms;
			&:hover {
				opacity: 1;
			}
		}
	}
}
.hero {
	background: radial-gradient(100% 102.5% at 0% 0%, #fcf9ed 0%, #fdfeff 100%);
	color: $white;
	grid-area: hero;
	height: 100%;
	width: 100%;
	// Adding flex
	display: flex;
	flex-direction: column;
	&-content {
		height: 100%;
		margin: 20% 0 10% 0;
		&-message {
			> h1 {
				font-size: 3rem;
				font-weight: bold;
				font-family: $font1;
				color: $primary;
				margin-bottom: 1rem;
			}
			> p {
				font-family: $font2;
				font-size: 18px;
				font-weight: regular;
				line-height: 1.6;
				color: $gray1;
			}
		}
		&-cta {
			margin-top: 24px;
			> h3 {
				color: $black;
				font-family: $font2;
				font-weight: 500;
				font-size: 18px;
				margin-bottom: 0.5rem;
			}
		}
	}
}
.cover {
	grid-area: coverImages;
	height: 100%;
	width: 100%;
	background-color: $black;
	background-image: url(../img/pexels-jana-kukebal-6689399.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.footer {
	width: 100%;
	align-self: flex-end;
	padding: 1rem 0;
	text-align: center;
	> p {
		font-family: $font2;
		font-size: 1rem;
		color: $black;
	}
}