body {
	// Grid area of landing page in desktop
	display: grid;
	grid-template-rows: auto 1fr;
	grid-template-columns: 60% 1fr;
	grid-template-areas:
		"navegation navegation"
		"hero coverImages";
}
// Responsive
@media screen and (max-width: 875px) {
    .input {
        width: 100%;
        margin: 0;
    }
    .btn {
        &-cta {
            margin-top: 12px;
            width: 100%;
        }
    }
    .hero {
        &-content{
            margin: 20% 0;
        }
    }
}
@media screen and (max-width: $tablet) {
	body {
		// Grid area of landing page in mobile
		grid-template-rows: auto 1fr 1fr;
		grid-template-columns: 1fr;
		grid-template-areas:
			"navegation"
			"coverImages"
			"hero";
	}
	.nav {
		// Hide desktop nav and show mobile nav
		display: none;
		// Hidde nav cover
		&-cover {
			display: flex;
            visibility: visible;
			justify-content: space-between;
            align-items: center;
            padding: 12px 20px;
            backdrop-filter: blur(4px);
			&-logo {
				font-size: 2.125rem;
				font-family: $font3;
				color: $primario-light;
				font-weight: bold;
			}
            &-links {
                > a {
                    font-family: $font2;
                    font-size: 1.125rem;
                    font-weight: 500;
                    color: $black;
                    cursor: pointer;
                    opacity: 0.8;
                    margin-right: 18px;
                    &:hover {
                        opacity: 1;
                    }
                }
            }
		}
	}
    .cover {
        background-image: url(../img/image.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 380px; // Height of cover image container
		background-color: $white;
    }
    .container {
		padding: 0 20px;
	}
	.hero {
		background: radial-gradient(102.88% 100% at 0% 100%, #FCF9ED 0%, rgba(254, 255, 255, 0) 100%);
		&-content {
			padding-top: 24px;
			margin: 0;
			&-message {
				text-align: center;
			}
			&-cta {
				> h3 {
					text-align: center;
					margin-bottom: 12px;
				}
			}
		}
	}
	.btn {  
		&-cta {
			margin-top: 8px;
			width: 100%;
			font-size: 18px;
		}
	}
	.input {
		width: 100%;
	}
	.footer {
		flex-direction: column;
		> p {
			margin: 16px 0;
		}
	}
}