// Colors
$primary: #FECDBD;
$secundario: #F5FFFA;
$primario-light: #FFE0D6;
$white-light: #FCF9ED;
$black: #151515;
$white: #ffffff;
// Gray color
$gray1: #B2B2B2;
$gray2: #CDCDCD;
$gray3: #D7D7D7;
// Fonts
$font1: 'Archivo Narrow', Sans Serif;
$font2: 'Work Sans', Sans Serif;
$font3: 'Dancing Script', Sans Serif;
// Breakpoints
$laptop: 1024px;
$tablet: 810px;
$mobile: 470px;