// Colors
$primary: #FE8C7B;
$secundario: #F5FFFA;
$primario-light: #FECDBD;
$white-light: #FCF9ED;
$black: #151515;
$white: #ffffff;
// Gray color
$gray1: #A6A6A6;
$gray2: #CDCDCD;
$gray3: #D7D7D7;
// Fonts
@font-face {
    font-family: 'ArchivoNarrow';
    src: url(./fonts/ArchivoNarrow-Bold.ttf);
}
@font-face {
    font-family: 'WorkSans';
    src: url(./fonts/WorkSans-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'AlexBrush';
    src: url(./fonts/AlexBrush-Regular.ttf);
}
$font1: 'ArchivoNarrow', Sans Serif;
$font2: 'WorkSans', Sans Serif;
$font3: 'AlexBrush', Sans Serif;
// Breakpoints
$laptop: 1024px;
$tablet: 810px;
$mobile: 470px;