// Base
* {
	all: unset;
	display: revert;
	font-size: 16px;
	text-decoration: none;
	scroll-behavior:smooth;
}
*, *::before, *::after {
	box-sizing: border-box;
}
body {
	height: 100vh;
	max-width: 1440px;
    margin-inline: auto;
	font-size: 16px;
}
html {
	background-color:  #FCF9ED;
}

// Importing others files
@import './variables';
@import './base';
@import './landing';